body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(82, 16, 180);
    flex-direction: row;
    border-radius: 20px;
    
    

}
.home,.guest{
    text-align: center;
    color: white;
    font-size: 30px;
    height:350px;
    width: 140px;
}
.home-count,.guest-count{
     margin-left: auto;
    margin-right: auto;

    border: 2px solid black;
    background-color: black;
    
    
    color: red;
    font-size: 40px;
    height: 100px;
    width: 100px;
    font-weight: bolder;
    padding-right: 20px;

}
button{
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 10px;
}
.reset{
    position: relative;
    top: 300px;
    left: -200px;
    width: 65px;
    height: 50px;
}

