@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

body {
    background-color: black;
}

.main {
    background-image: url(/html-css/sigmawebdev/projects/netflix/assets/background.jpg);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;
}

nav img {
    margin-top: 35px;
    color: red;
    width: 200px;
    position: relative;
    z-index: 1000;
}

nav button {
    position: relative;
    z-index: 1000;
}

.hero {
    font-family: Martel Sans ;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;

}

.hero> :first-child {
    font-family: poppins;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* .seperation::before {
    height: 7px;
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

.seperation {
    content: "";
    position: absolute;
    top: 72.8%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #000000, #1e90ff, #0080ff, #1e90ff, #000000);
    pointer-events: none;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background-clip:padding-box;
    z-index: 100;
} */

.seperation2{
    height: 8px;
    background:linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(237, 28, 36, 1), rgb(73, 24, 24,  0.85), rgba(237, 28, 36, 1), rgba(33, 13, 22, 1) 84%);

}


.btn {
    font-family: poppins;
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(242, 242, 242, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    
}

.btn-red {
    background-color: red;
    color: white;
    padding: 7px 24px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    border: none;

}

.btn-red-sn {
    background-color: red;
    color: white;
    border: none;
}
.btn-red:hover, .btn-red-sn:hover{
    background-color: rgb(218, 9, 9);
}

.main input {

    padding: 7px 101px 8px 14px;
    color: white;
    width: 200px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    font-size: 12px;
}

.trend{
   margin-bottom: 10px;
   margin-top: 10px;
   font-size: 39px;
   font-family: poppins;
   font-weight: bold;
   color: white;
   text-align: center;

}
.slides{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}
.slide{
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    transition:all 0.3s ease-in-out;
    cursor: pointer;
}
.slide img{
    height: 25vh;
    border-radius: 11px;
    
}
.slide:hover{
    transform: scale(1.1);
}
.number{
    
    font-family:Martels Sans, poppins ;
    font-weight:bold;
    position:absolute;
    left: -6px;
    bottom: -30px;
    font-size: 65px;
    color: black; /* text color */
    -webkit-text-stroke: 2px white; /* white border around text */
}
.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    
}


.secImg{
    position: relative;
}
.secImg img{
    width: 440px;
    position: relative;
    z-index: 10;    
}
.secImg video{
    top:80px;
    position: absolute;
    right: 30px;
    width: 405px;
    
}
.first > div :first-child{
    font-family: poppins;
    font-weight: bolder;
    font-size: 48px;
}
.first > div :nth-child(2){
    font-size: 22px;
    
}
section.first > div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
.faq{
    height: max-content;
    color: white;
    background: black;
    text-align: center;
    
    padding: 34px;
    
    
}
.heading{
    font-size: 48px;
}
.faqbox{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 45, 45, 1);
    padding: 24px;
    max-width: 50vw;
    margin: 34px auto;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.37s ease-out;
}
.faqbox:hover{
    background-color: #414141;
}
.faqbox svg{
    filter: invert(1);
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
.question{
    padding: 34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;   
}
.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.footer a{
    font-size: 14px;
    color: white;
}
.endemail{
    margin-top: 20px;
    padding: 7px 101px 8px 14px;
    color: white;
    width: 200px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    font-size: 12px;
    width: 300px;
}
.end{
    margin-top: 20px;
}
@media screen and (max-width: 1300px){
    
    .frist{
        flex-wrap: wrap;
    }
    nav {
        display: flex;
        align-items: center;
        max-width: 90vw;
        margin: auto;
        justify-content: space-between;
        height: 62px;

    }
    
}
@media screen and (max-width: 1300px){

    .trend{
        font-size: 32px;
    }
    .number{
        font-size: 57px;
    }
    .slide img{
        height: 15vh;
    }
    .secImg img{
        width: 305px;
    }
    .secImg video{
        width: 255px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white; 
        gap: 15px; 
        text-align: center; 
    }
    .hero> :first-child {
        
        font-size: 32px;
        
    }
    .hero> :nth-child(2) {
        font-size: 18px;
        
    }
    .hero> :nth-child(3) {
        font-size: 18px;
        
    }
    .hero-btn{
        display: flex;
        flex-direction: column;
    }
    .first > div :first-child{
        font-family: poppins;
        font-weight: bolder;
        font-size: 38px;
        text-align: center;
    }
    .first > div :nth-child(2){
        font-size: 19px;
        text-align: center;
        
    }
    .faq h2 {
        font-size: 32px;
    }
    .faqbox{
        font-size: 18px;
    }
    .faqbox svg{
        width: 20px;
    }
    nav img {
        width: 140px;
    }
}
@media screen and (max-width: 520px){
    .trend{
        font-size: 27px;
    }
    .number{
        font-size: 40px;
        left: 7px;
    }
    .slide img{
        height: 12vh;
    }
    .hero> :first-child {
        
        font-size: 23px;
        
    }
    .hero> :nth-child(2) {
        font-size: 14px;
        
    }
    .hero> :nth-child(3) {
        font-size: 12px;
        
    }
    .first > div :first-child{
        font-family: poppins;
        font-weight: bolder;
        font-size: 27px;
        text-align: center;
    }
    .first > div :nth-child(2){
        font-size: 12px;
        text-align: center;
        
    }
    .faq h2 {
        font-size: 22px;
    }
    .faqbox{
        font-size: 12px;
    }
    .faqbox svg{
        width: 15px;
    }
    
    .endemail{
        width: 150px;
    }
}

